@import ('nib')
global-reset()

// Variables
font-primary = 'Lora', georgia
text-primary = mintcream
color-primary = cornsilk
color-secondary = saddlebrown
screen-small = 'screen and (min-width 40rem)'
screen-medium = 'screen and (min-width 48rem)'

:root
  height 100%

// Global
body
  display flex
  flex-direction column
  justify-content space-between
  background color-primary
  font-family font-primary, serif
  height 100%

nav
footer
  color text-primary
  background color-secondary

#content
  min-height 100%

#page
  display flex
  flex-direction column
  align-items center
  box-sizing border-box
  padding 2.5rem 1rem
  min-height 100%
  gap 2rem

h1
  text-align center
  font-weight bold
  font-size 2rem

  @media screen-small
    font-size 2.25rem

  @media screen-medium
    font-size 2.5rem

h2
  text-align center
  font-weight bold
  font-size 1.5rem

  @media screen-small
    font-size 1.75rem

  @media screen-medium
    font-size 2rem

img
  border-radius 0.5rem
  border 0.125rem solid color-secondary

// Navbar
nav
  display flex
  align-items center
  text-align center
  user-select none
  font-weight bold
  padding 1rem
  gap 1.25rem

  p
    font-size 1.25rem

    @media screen-small
      font-size 1.375rem

    @media screen-medium
      font-size 1.5rem

  span
    display inherit
    flex-wrap wrap
    align-items center
    justify-content center
    gap 1rem

    .active-tab
      color color-secondary
      background color-primary

    button
      border 0
      border-radius 0.5rem 0.5rem 0 0
      padding 0.125rem 0.35rem 1rem
      margin-bottom -1rem
      outline none
      cursor pointer
      font-size 1.1rem
      font-weight bold
      font-family font-primary, serif
      color text-primary
      background transparent
      transition scale cubic-bezier(0.4, 0, 0.2, 1) 150ms

      &:hover
        scale 1.1

      @media screen-small
        font-size 1.25rem
        padding 0.125rem 0.5rem 1rem

      @media screen-medium
        font-size 1.375rem
        padding 0.125rem 0.75rem 1rem

// Home
i.home
  font-size 2rem
  border-radius 100%
  border 0.125rem solid
  padding 1rem 0.9rem 1rem 1.2rem

  @media screen-small
    font-size 2.25rem

  @media screen-medium
    font-size 2.5rem

img.home
blockquote.home
  width 20rem
  font-size 1.25rem
  text-align center
  font-style italic

  p
    margin-top 0.75rem
    font-style normal

  @media screen-small
    width 37.5rem
    font-size 1.5rem

  @media screen-medium
    width 38.25rem
    font-size 1.75rem

// Menu
div.menu
  display inherit
  flex-flow row wrap
  justify-content center
  align-items center
  text-align center

  figure
    display flex
    align-items center
    flex-direction column
    font-weight bold
    font-size 1.375rem
    width 18rem
    height 23rem
    gap 1.5rem

    @media screen-small
      font-size 1.5rem

    @media screen-medium
      font-size 1.75rem

    img
      width 14rem
      height 17.75rem
      border-radius 0.5rem

      @media screen-small
        font-size 1.5rem

      @media screen-medium
        font-size 1.75rem

// Contact
div.contact
  display inherit
  align-items center
  flex-direction column
  font-size 1.25rem
  gap 2rem

  @media screen-small
    font-size 1.5rem

  @media screen-medium
    font-size 1.75rem

img.contact
  width 18rem

  @media screen-small
    width 34rem

  @media screen-medium
    width 42rem

// Footer
footer
  display flex
  flex-direction column
  align-items center
  justify-content center
  text-align center
  user-select none
  font-weight bold
  font-size 1.125rem
  padding 1.5rem
  gap 0.5rem

  a
    display inherit
    align-items center
    justify-content center
    text-align center
    gap 0.25rem
    color text-primary
    text-decoration none
    transition scale cubic-bezier(0.4, 0, 0.2, 1) 150ms

    &:hover
      scale 1.1

  @media screen-small
    font-size 1.25rem

  @media screen-medium
    font-size 1.375rem